
  
  @media (min-width: 320px) and (max-width: 480px) {
    


    .banner-card{
      display: none !important;
    }


.banner-text {
  top: 20px;
}


    .offer-bton {
        padding: 17px 15px;
    }


    .dashed-line{
        display: none;
    }

    .seat {
      width: 61px;
      height: 50px;
  }


  .apply-btn {
    padding: 10px 12px;
}

.seat-group {
  display: flex;
  gap: 10%;
}
    
  }